<!-- <app-routing-wrapper> -->
<div class="center">
  <a routerLink=""> Back to main page</a>
</div>

<h1>Angular Router</h1>
<nav>
  <a routerLink="/routing/crisis-center" routerLinkActive="active"
    >Crisis Center</a
  >
  <a routerLink="/routing/heroes" routerLinkActive="active">Heroes</a>
</nav>

<h2>HEROES</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <a [routerLink]="['/routing/hero', hero.id]">link</a>
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
<!-- </app-routing-wrapper> -->
